# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output klasörü (kullanıcı isteğine göre dahil edilebilir)
OrganizedMedia/

# Virtual environment
.venv/
env/
venv/

# IDE/editor
.vscode/
.idea/
*.swp
